{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Dominant colors (Django version)</title>
    <style>
        .color-square {
            width: 100px;
            height: 100px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    
        .color-percentage {
        font-size: 25px;
        font-weight: bold;
        color: white; 
        /* mix-blend-mode: difference;  */
        }

        .color-square.light .color-percentage {
            color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
                <h1 class="mb-5">Dominant colors (Django version)</h1>
                <form method="POST" action="/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.image.label_tag }}
                        {{ form.image }}
                    </div>
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
                
                {% if image_url %}
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <img src="{{ image_filepath }}" style="width: 400px;">
                    </div>
                </div>
                {% endif %}
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <h2>Dominant Colors:</h2>
                        <div class="row">
                            {% for color, percentage, is_light_color in dominant_colors %}
                            <div class="col-2">
                                <div class="color-square {% if is_light_color %}light{% endif %}" style="background-color: rgb{{ color }};">
                                    <span class="color-percentage">{{ percentage }}%</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>